
<div class="landing_image pt-30">
  <div class="container">
    <strong><h1 class="landing-title">Your City Your Board Your Way</h1></strong>
    <%=link_to "Get Started", "/billboards", class:"btn btn-primary"%>
  </div>
</div>
