
<div class="landing_image pt-10">
  <div class="container">
    <h1>Fill the City With Your BillBoards</h1>
    <%=link_to "Get Started", "/sign_in", class:"btn btn-primary"%>
  </div>
</div>
<div class="full_page">
  
</div>
