.icon-sm{
  width:1em;
  height: 1em;
}

.auction-status{
  font-size: 1.5em
}

.green{
  color: green;
}

.section-1{
  height: 15em;
  background-color: #563d7c;
  color: white;
}

.top-title{
  font-family: 'Gugi', cursive;
  
}