
.align_center{
  text-align: center;
}

#map {
  height: 50vh;
  width: 100%;
}

.showbid{
  opacity: 0;
  position: relative;
  -webkit-animation-name: showbid;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;

}

@-webkit-keyframes showbid {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.hiddenbid{
  opacity: 1;
  position: relative;
  -webkit-animation-name: hiddenbid;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes hiddenbid {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

.board_box{
  text-align: center;
  text-decoration: none;
}

#bid_table{
  
}

.text_box{
  width:100%;
}

.hidden_element{
  display: none;
}