<div class="container">
  <h1 class="align_center mt-5">Billboards</h1>
  <div class="mt-3 mb-5">
    <%=form_tag search_timeslots_path, method: :post, remote: true do %>
      <%=text_field_tag :search_result, nil, size:"80" %>
      <%=submit_tag "Look Up"%>
    <%end%>
  </div>
  <div id="timeslots">
    <%=render partial: "timeslots/timeslots", locals: {timeslots: @timeslots, user: current_user}%>
  </div>
</div>
